@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=The+Nautigal&display=swap');

:root{
    /*Variaveis para fontes*/

    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-imagem: 'The Nautigal', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte-normal);
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3vw;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: wheat;
}
main > section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 5vw;
    padding-left: 30px;
    font-size: 3.5vw;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 15px;
    font-family: var(--fonte-imagem);
}
.normal > p {
    font-family: var(--fonte-imagem);
    font-weight: bold;
}
.normal{
    background-color: white;
}
.imagem{
    background-color: rgb(37, 37, 37);
    color: white;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}