@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=The+Nautigal&display=swap');

:root{
    /*Variaveis para fontes*/

    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-imagem: 'The Nautigal', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte-normal);
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4vw;
}
header p{
    padding-bottom: 50px;
    font-size: 2vw;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: wheat;
}
main > section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 5vw;
    padding-left: 30px;
    font-size: 4.5vw;
}
main p{
    padding-bottom: 2em;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.336);
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    font-family: var(--fonte-imagem);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}
.normal > p {
    font-family: var(--fonte-imagem);
    font-weight: bold;
}
.normal{
    background-color: white;
}
.imagem{
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
    background-size: cover;
    background-attachment: fixed;
}
#img1{
    background-image: url('../img/background001.jpg');
    background-position: right center;
}
#img2{
    background-image: url('../img/background002.jpg');
    background-position: right center;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.5vw;
}

/*ao utilizar os valores "vh" ou "vw" gera um aspecto responsivo na pagina ja que esses valores tem referencias logicas sobre a altura da pagina e a largura da pagina*/